

    <div  class="container-fluid">

        

        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div>
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <center><h3 class="navbar-title">Signature Equipo Vision - Data Sync Dashboard</h3></center>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li ><a class="fa fa-sign-out" ng-click="vm.logout()">Logout</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <!-- Navigation -->
        

        <div id="">
            <div class="row">
                <div class="col-lg-12">
                    <center><h1 class="header-logo"></h1>
                    </center>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row" >
                                <center><h3>TRANSACTIONS</h3></center>
                                <div class="col-xs-3">
                                    <i class="fa fa-list-alt fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{vm.transactions[3].AURORA.toLocaleString()}}</div>
                                </div>
                            </div>
                        </div>
                        <a>
                            <div class="panel-footer">
                                <button class="refresh" type='button' ng-click='vm.GraphicLastTran()'><i class="fa fa-retweet fa-1x"></i> Last modified</button>
                                <button class="refresh pull-right" type='button' ng-click='vm.GraphicCreateTran()'><i class="fa fa-pencil fa-1x"></i> Create date</button> 
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <center><h3>TRANSACTION LINES</h3></center>
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{vm.transactions[4].AURORA.toLocaleString()}}</div>
                                </div>
                            </div>
                        </div>
                        <a>
                            <div class="panel-footer">
                                <button class="refresh" type='button' ng-click='vm.GraphicLastLines()'><i class="fa fa-retweet fa-1x"></i> Last modified</button>
                                <button class="refresh pull-right" type='button' ng-click='vm.GraphicCreateLines()'><i class="fa fa-pencil fa-1x"></i> Create date</button>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <center><h3>TRANSACTION LINKS</h3></center>
                                <div class="col-xs-3">
                                    <i class="fa fa-align-justify fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{vm.transactions[5].AURORA.toLocaleString()}}</div>
                                </div>
                            </div>
                        </div>
                        <a>
                            <div class="panel-footer">
                                <button class="refresh" type='button' ng-click='vm.GraphicLastLinks()'><i class="fa fa-retweet fa-1x"></i> Last modified</button>
                                <button class="refresh pull-right" type='button' ng-click='vm.GraphicCreateLinks()'><i class="fa fa-pencil fa-1x"></i> Create date</button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row" >
                <div id="loading2" >
                    <center><img src="home/img/loading.gif"/></center>
                </div>
                <div ng-show='vm.graphicLastTran.show'>
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <center class="title-graph"><i class="fa fa-bar-chart-o fa-fw"></i> TRANSACTIONS BY <strong> LAST MODIFIED</strong></center>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div id="morris-last-transactions"></div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>
                </div>
                <div ng-show='vm.graphicCreateTran.show'>
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <center class="title-graph"><i class="fa fa-bar-chart-o fa-fw"></i> TRANSACTIONS BY <strong>CREATE DATE</strong></center>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div id="morris-create-transactions"></div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>
                </div>
                <div ng-show='vm.graphicLastLines.show'>
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <center class="title-graph"><i class="fa fa-bar-chart-o fa-fw"></i> TRANSACTION LINES BY <strong>LAST MODIFIED</strong></center>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div id="morris-last-lines"></div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>
                </div>
                <div ng-show='vm.graphicCreateLines.show'>
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <center class="title-graph"><i class="fa fa-bar-chart-o fa-fw"></i> TRANSACTION LINES BY <strong>CREATE DATE</strong></center>
                            </div>
                            <div class="panel-body">
                                <div id="morris-create-lines"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show='vm.graphicLastLinks.show'>
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <center class="title-graph"><i class="fa fa-bar-chart-o fa-fw"></i> TRANSACTION LINKS BY <strong>LAST MODIFIED</strong></center>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div id="morris-last-links"></div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>
                </div>
                <div ng-show='vm.graphicCreateLinks.show'>
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <center class="title-graph"><i class="fa fa-bar-chart-o fa-fw"></i> TRANSACTION LINKS BY <strong>CREATE DATE</strong></center>
                            </div>
                            <div class="panel-body">
                                <div id="morris-create-links"></div>
                            </div>
                        </div>
                    </div>
                </div> 

                <div class="col-lg-8">
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <center class="title-graph"><i class="fa fa-bar-chart-o fa-fw"></i> JOBS TRACKING LOG</center>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="morris-bar-chart"></div>
                                </div>
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4" ng-model="vm.last_update">
                    <div class="panel panel-default">
                        <center class="title-graph"><h4>JOBS STATUS</h4></center>
                    </div>

                    <div id="transactions">
                        <div class="panel-heading">
                            <div class="row">
                                <center><h3>TRANSACTIONS</h3></center>
                                <div class="col-xs-3">
                                    <p>Last Update:</p>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <h4>{{vm.last_update.transactions}} GMT</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="lines">
                        <div class="panel-heading">
                            <div class="row">
                                <center><h3>TRANSACTION LINES</h3></center>
                                <div class="col-xs-3">
                                    <p>Last Update:</p>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <h4>{{vm.last_update.liness}} GMT</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="links">
                        <div class="panel-heading">
                            <div class="row">
                                <center><h3>TRANSACTION LINKS</h3></center>
                                <div class="col-xs-3">
                                    <p>Last Update:</p>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <h4>{{vm.last_update.linkss}} GMT</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



                <div class="col-lg-12">
                    <!-- /.panel -->
        
                        <div class="panel panel-default">
                            <center class="title-graph"><h3>DATA SYNC STATUS AT {{vm.transactions[4].end_date}} GMT</h3></center>
                        </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <center class="title-graph"><i class="fa fa-bar-chart-o fa-fw"></i> TRANSACTIONS</center>
                            </div>
                            <div class="panel-body">
                                <div id="morris-donut-chart1"></div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <center class="title-graph"><i class="fa fa-bar-chart-o fa-fw"></i> TRANSACTION LINES</center>
                            </div>
                            <div class="panel-body">
                                <div id="morris-donut-chart2"></div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <center class="title-graph"><i class="fa fa-bar-chart-o fa-fw"></i> TRANSACTION LINKS</center>
                            </div>
                            <div class="panel-body">
                                <div id="morris-donut-chart3"></div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>
                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <div class="panel-footer">
            <div>
                <p>Copyright 2016 Signature Equipovision, LLC</p>
            </div>
        </div>
    </div>
        <!-- /#page-wrapper -->

    <!-- /#wrapper -->

    <!-- jQuery -->
        <!-- Morris Charts JavaScript -->
    <script src="home/bower_components/morrisjs/morris.min.js"></script>
    <script src="scripts/src/graphic.js"></script>


